body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerit {
    display: flex;
    justify-content: center;
    align-items: center;
}

p, h3 {
    color: white;
    text-align: center;
    width: 70%;
    padding: 5px 10px;
    background-color: rgb(136, 0, 255);
    border-radius: 5px;
}

p span, h3 span {
    text-transform: uppercase;
}